.slider {
	height: 35rem;
}

.slider-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
	background-color: black;
}

.slider-main_info {
	display: flex;
	flex-direction: row;
}
.slider-main_info > img {
	height: 10rem;
}

.slider-main_info-text {
	color: white;
	padding: 1rem;
}
